<div class="row">
  <div class="col">
    <app-post-search></app-post-search>
  </div>
</div>
<div class="row">
  <div class="col">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
      <ngb-panel [attr.id]="'post_'+ post.id" *ngFor="let post of arrayOfPosts">
        <ng-template ngbPanelTitle>
          {{post.title}} &#9733;&#9733;&#9733;&#9733;&#9733;
        </ng-template>
        <ng-template ngbPanelContent>
          {{post.body}}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
