@model NewsPost.Data.Reps.IResult<IEnumerable<NewsPost.Data.Entities.Article>>

@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
{
<div class="row">
    <div class="col">
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Post" asp-action="Create">Create new Article</a>
    </div>
</div>
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
        </div>
    </div>
}

@if (Model.Data != null && Model.Data.Any())
{
    <div class="row">
        <div class="col">
            @foreach (var item in Model.Data)
            {
                @Html.DisplayFor(m => item)
            }
        </div>
    </div>
}
