@model NewsPost.Data.Reps.IResult<IEnumerable<NewsPost.Data.Entities.Article>>

@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                @Model.Error
            </div>
        </div>
    </div>
}

@if (Model.Data != null && Model.Data.Any())
{
    <div class="row">
        <div class="col">
            @foreach (var item in Model.Data)
            {
                @Html.DisplayFor(m => item)
            }
        </div>
    </div>
}
